#skrollr-body {
	width: 1920px;
	min-width: 500px;
	margin: auto;
	align-content: center;
}
#content {
	width: 100%;
	height: 100vh;
	min-width: 500px;
	display: flex;
	left: 0px;
}

.actors {
	width: 50%;
	height: auto;
	align-self: center;
	left: 28vw;
	position: fixed;
}

.marginImg {
	width: 100%;
	height: auto;
	left: 0vw;
	align-self: center;
	z-index: 50;
	position: fixed;
}
